*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: white;
    background-color: rgb(51,58,64);
}

header h2{
    font-size: 25px;
}

header img{
    width: 130px;
}

header img:hover{
    transform: scale(1.2);
}

.navbar-dark .navbar-nav .nav-link.colorVerde{
    color:green;
}

.navbar-dark .navbar-nav .nav-link.colorVerde:hover{
    color: white;
    background-color: rgb(10, 239, 67);
    border-radius: 5px;
}

.navbar-nav{
    font-size: 20px;
}

.conferencia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/ba1.jpg);
    background-size: cover;
    height: 90vh;
    background-position: 5%;
}

.conf{
    text-align: right;
    padding-top: 35vh;
}

.conferencia p{
    font-size: 20px;
    font-weight:400;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 50%
}

.quieroSerOrador{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: solid white 1px;
    border-radius: 5%;    
    padding: 10px;
    margin: 5px;
}

.quieroSerOrador:hover{
    background-color: rgba(255, 255, 255, 0.367);
    color: rgb(10, 239, 67);
}

.comprarTickets{
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5%;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

.comprarTickets:hover{
    background-color: rgb(10, 239, 67);
    color: white
}

.oradores h2{
   margin: 15px;
   margin-bottom: 10px;
   text-align: center;
}

.oradores h2 div{
    font-size: 12px;
    font-weight: normal;
}

.tarjetas{
    margin-bottom: 20px;
}

.tarjeta{
    padding: 0;
    margin: 15px;
    margin-top: 0;
    border-radius: 1%;
}

.tarjeta img{
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
}

.colorNaranja{
    background-color: orange;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.colorCeleste{
    background-color:skyblue;
    color: white;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.colorGris{
    background-color: gray;
    color: white;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.colorRojo{
    background-color: red;
    color: white;
    border-radius: 10%;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.tituloNombre{
    font-size: 25px;
}

.lugarFecha{
    width: 100.8%;
}

.honolulu{
    padding: 0px 1px;
}

.lugar{
    background-color: rgb(51,58,64);
    color: white;
    padding: 20px;
}

.lugar p{
    font-size: 14px;
}

.btnConoceMas{
    text-decoration: none;
    border: solid white 1px;
    border-radius: 5%;
    padding: 4px;
    color: white;
}

.btnConoceMas:hover {
    background-color: rgba(255, 255, 255, 0.367);
    color: rgb(255, 255, 255);
}

.encontranosEn{
    text-align: center;
    margin-top: 15px;
}

.mapa:hover{
    transform: scale(1.1);
}

.formularioOrador{
    text-align: center;
}

.formularioOrador h2{
    margin: 10px;
}
 
 .formularioOrador h2 div{
     font-size: 12px;
     font-weight: normal;
     padding-top: 10px;
}

.formularioOrador p{
    margin-bottom: 0;
}

.recuadrosFormulario input, textArea{
    border: solid lightgray 1px;
    border-radius: 5px;
    width: 24%;
    padding: 4px;
    margin: 0.5% 1%;
}

.recuadrosFormulario textarea{
    width: 50.5%;
    height: 110px;
    font-size: 21px;
    padding-left: 15px;
}
 
.recuadrosFormulario p{
    text-align: left;
    margin-left: 25%;
    font-size: 13px;
    color: rgb(109, 109, 109);
}

.recuadrosFormulario .btnEnviar{
    text-decoration: none;
    background-color: rgb(150, 201, 62);
    color: white;
    width: 50.5%;
    height: 45px;
    font-size: 22px;
}

.recuadrosFormulario .btnEnviar:hover {
    background-color: rgba(147, 207, 43, 0.873);
    color: rgb(255, 255, 255);
}

.publicidadCoto{
    margin: 30px 100px;
    background-color: rgba(197, 193, 201, 0.464);
    border-radius: 1%;
    box-shadow: 0px 0px 10px 0px rgba(97, 97, 97, 0.9);
}

.publicidad{
    padding: 0px;
}
.publicidad p{
    margin: 0;
    padding: 0;
    font-size: small;
}

.publicidadCoto img{
    margin: 15px;
}

.videoCoto{
    position: relative;
    width: 50%;
    background-color: rgb(148, 148, 148); 
}

.videoCoto iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.textoCoto{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/img/coto-aniversario.jpg);
    background-size: 100% 100%;
    background-position: center;
    color: white;
    font-size: 20px;
}

.publicidadCoto a{
    display: inline-block;
    background-color: #ff6600;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.publicidadCoto a:hover {
    background-color: #ff9933
}

.btnEnlaceCoto{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.footer{
    background: linear-gradient(90deg,rgb(28,54,67) 0%, rgb(30,83,114) 100%);
    height: 100px;
    overflow: hidden;
}

.footer a{
    color: white;
    font-size: 16px;
    width: 100px;
    height: 64px;
    margin: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*Pagina "Comprar ticket"*/

.activa{
    color: white !important;
    background-color: rgb(10, 239, 67);
    border-radius: 5px;
}

.tarjetaTickets{
    margin: 24px 3px 6px;
    width: 18%;
    text-align: center;
    border-radius: 0;
}

.tarjetaTickets h3{
    margin-top: 26px;
    margin-bottom: 16px;
}

.tarjetaTickets p{
    font-size: 18px;
}

.tarjetaTickets .porcentajeDescuento{
    font-weight: bold;
    margin: 2px;
}

.tarjetaTickets .terminos{
    font-size: 14px;
    color: gray;
    margin-top: 16px;
    margin-bottom: 24px;
}

.tarjetasTickets .azul{
    border: solid blue 2px;
}

.tarjetasTickets .azul:hover{
    background-color:lightskyblue;
}

.seleccionadaAzul{
    background-color: lightskyblue;
    box-shadow: 0px 0px 10px 0px rgba(4, 4, 4, 0.5);
}

.tarjetasTickets .verde{
    border: solid green 2px;
}

.tarjetasTickets .verde:hover{
    background-color: lightgreen;
}

.seleccionadaVerde{
    background-color: lightgreen;
    box-shadow: 0px 0px 10px 0px rgba(4, 4, 4, 0.5);
}

.tarjetasTickets .naranja{
    border: solid orange 2px;
}

.tarjetasTickets .naranja:hover{
    background-color: rgb(255, 215, 141);
}

.seleccionadaNaranja{
    background-color: rgb(255, 215, 141);
    box-shadow: 0px 0px 10px 0px rgba(4, 4, 4, 0.5);
}

.titulos h3{
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

.titulos h2{
    font-size: 38px;
    margin-top: 2px;
    margin-bottom: 12px;
    text-align: center;
}

.formularioTicket{
    width: 57%;
}

.formTkNombre{
    padding-right:0%; 
}
#correo{
    margin-top: 16px;
}

.cantCat p{
    margin-top: 16px;
    margin-bottom: 6px;
}

.formTkCantidad{
    padding-right: 0%;
}

.formTkCategoria #categoria{
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border: solid lightgray 1px;
    color: grey;
    padding-left: 8px;
}

.totalAPagar{
    height: 50px;
    background-color: rgb(204, 229, 255);
    border-radius: 5px;
    margin: 34px auto 26px !important;
    display: flex;
    align-items:center;
}

.totalAPagar p{
    padding-left: 30px;
    margin: 0;
    padding-right: 0;
}

.formTkBotones input{
    width: 97%;
    height: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(150, 201, 62);
    border: none;
    border-radius: 5%;
    font-size: 18px;
}

.botBorrar{
    padding-right: 0;
    margin-bottom: 20px
}

.botResumen{
    padding: 0;
    margin-bottom: 20px
}

.formTkBotones input:hover {
    background-color: rgba(147, 207, 43, 0.873);
}

/*Pagina "404"*/

.fondo404 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/ba1.jpg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}

.contenido404 {
    text-align: center;
    color: white;
}

.contenido404 h1{
    font-size: 250px;
    margin-top: 166px;
    margin-bottom: 100px;
}

.contenido404 P{
    font-size: 25px;    
}

.btn404 {
    display: inline-block;
    background-color: rgb(205, 192, 50);
    color:black;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px 0px rgba(255, 242, 1, 0.9);
}

.btn404:hover {
    background-color: rgb(220, 220, 23);
}


@media screen and (max-width: 768px) {

    header h2{
        margin-right: 20% !important;
    }

    .navbar{
            padding-top: 0px;
    }

    .navbar-nav{
        text-align: center;
    }

    .conf{
        text-align: center;
        padding-top: 25vh;
    }

    .conferencia p{
        margin-bottom: 20px;
        width: 100%;
        margin: 0%
    }

    .quieroSerOrador{
        margin: 20px;
        display: block;
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    }

    .comprarTickets{
        margin: 20px;
        display: block;
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    }

    .oradores h2 div{
        font-size: 12px;
        font-weight: normal;
    }

    .tarjeta{
        width: 90%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .lugarFecha{
        width: 100%;
        margin-left: 0%;
    }

    .honolulu{
        padding: 0%;
    }

    .lugar{
        text-align: center;
    }

    .btnConoceMas{
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    }

    .formularioOrador p{
        padding-left: 10%;
        padding-right: 10%;
    }

    .recuadrosFormulario input, textArea{
        width: 45%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }

    .recuadrosFormulario textarea{
        width: 92.5%;
    }
    
    .recuadrosFormulario p{
        text-align: center;
        margin-left: 0;
    }

    .recuadrosFormulario .btnEnviar{
        width:92.5%;
        margin-bottom: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .publicidadCoto{
        margin: 5px;
    }

    .publicidadCoto img{
        margin: 15px;
    }

    .videoCoto{
        width: 100%;
        height: 250px;   
    }

    .textoCoto{
        text-align: center;
    }

    .btnEnlaceCoto{
        justify-content: center;
    }

    .footer{
        height: 220px;
    }

    .footer a{
        display: inline;
    }

    /*Pagina "Comprar ticket"*/

    .tarjetaTickets{
        margin: 18px 3px 6px;
        width: 31%;
        display: block;
    }

    .tarjetaTickets h3{
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 6px;
    }

    .tarjetaTickets p{
        font-size: 10px;
        margin-bottom: 8px;
    }

    .tarjetaTickets .terminos{
        font-size: 8px;
        margin-top: 12px;
        margin-bottom: 10px;
    }
    
    .formularioTicket{
        width: 100%;
        max-width: none;
    }
    
    .titulos h3{
        font-size: 10px;
    }

    .titulos h2{
        font-size: 20px;
    }

    input::placeholder{
        font-size: 12px;
    }

    .formularioTicket input{
        height: 30px;
        font-size: 12px;
    }

    .cantCat p{
        font-size: 12px;
    }
    
    .formTkCategoria #categoria{
        height: 30px;
        font-size: 12px;
    }

    .totalAPagar{
        height: 40px;
        margin: 20px auto 20px !important;
    }

    .totalAPagar p{
        padding: 16px;
        font-size: 12px; 
    }

    .formTkBotones input{
        height: 30px;
        font-size: 12px;
        margin-bottom: 12px;
    }

    .botBorrar, .botResumen{
        margin: 0px;
    }

    /*Pagina "404"*/

    .contenido404 h1{
        font-size: 180px;
        margin-top: 166px;
        margin-bottom: 100px;
    }
    
    .contenido404 P{
        font-size: 20px;    
    }
}


@media screen and (max-width: 389px) {

    header h2{
        margin-right: 6% !important;
    }

    .conf{
        text-align: center;
        padding-top: 20%
    }

    .footer{
        height: auto;
    }

    .footer .nav-item{
        font-size:medium;
    }

    .footer a{
        font-size: small;
        height: 54px;
        margin: 0;
        padding: 0;
    }

     /*Pagina "Comprar ticket"*/

     .tarjetaTickets{
        width: 30%;
    }

    .tarjetaTickets h3{
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .tarjetaTickets p{
        font-size: 9px;
        margin-bottom: 8px;
    }

    .tarjetaTickets .terminos{
        font-size: 7px;
        margin-top: 6px;
        margin-bottom: 14px;
    }

    .formularioTicket input{
        height: 24px;
    }

    .formTkCategoria #categoria{
        height: 24px;
        font-size: 12px;
    }

    .totalAPagar{
        height: 32px;
    }

    .formTkBotones input{
        font-size: 12px;
        margin-bottom: 12px;
    }
}


@media (max-width: 1024px) and (orientation: landscape) {

    header h2{
        margin-right: 55%;
        margin-top: 2%;
    }

    .navbar{
            padding-top: 0px;
    }

    .navbar-nav{
        text-align: right;
    }

    .conf{
        text-align: right;
        padding-top: 10vh;
    }

    .conferencia p{
        margin-bottom: 20px;
        width: 100%;
        margin: 0%
    }

    .quieroSerOrador{   
        display: inline-block;
    }

    .comprarTickets{
        display: inline-block;
    }

    .oradores{
        margin-left: 10%;
    }

    .tarjeta{
        width: 28%;
        margin: 2%;
    }

    .recuadrosFormulario input, textArea{
        width: 45%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }

    .recuadrosFormulario textarea{
        width: 92.5%;
    }

    .recuadrosFormulario .btnEnviar{
        width:92.5%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    
    .publicidadCoto{
        margin: 30px 10px;
    }

    .publicidadCoto img{
        margin: 10px;
        height: 10%;
    }

    .textoCoto p{
        margin: 0;
    }

    .btnEnlaceCoto{
        padding: 2px;
        margin-top: 15px;
    }

    .footer{
        height: auto;
    }

    .footer div{
        padding: 0;
    }

    .footer a{
        margin: 0 4%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    /*Pagina "Comprar ticket"*/

    .tarjetaTickets{
        width: 31%;
    }

    .tarjetaTickets h3{
        margin-top: 16px;
    }

    input::placeholder{
        font-size: 16px;
        padding-left: 6px;
    }

    .formularioTickets input{
        height: 36px;
    }

    .formularioTicket{
        width: 100%;
        max-width: none;
    }

    .formTkCategoria #categoria{
        height: 36px;
        font-size: 16px;
    }

    .totalAPagar{
        height: 46px;
        margin: 24px auto 24px !important;
    }

    .totalAPagar p{
        padding: 18px;
        
    }

    .formTkBotones input{
        font-size: 16px;
        margin-bottom: 16px;
    }

    .botBorrar, .botResumen{
        margin: 0px;
    }

    /*Pagina "404"*/

    .fondo404 {
        height: 80vh;
    }
    
    .contenido404 {
        font-size: 1rem;
    }
    
    .contenido404 h1{
        font-size: 150px;
        margin: 40px;
    }
}


@media (max-width: 750px) and (orientation: landscape) {
    
    header h2{
        margin-right: 40% !important;
    }

    .conf{
        padding-top: 5vh;
    }

    .conferencia p{
        margin-bottom: 20px;
        width: 100%;
        margin: 0%
    }

    .quieroSerOrador{   
        display: inline-block;
        margin-right: 0;
    }

    .comprarTickets{
        display: inline-block;
        margin-right: 0;
    }

    .tarjeta{
        width: 30%;
        margin: 1%;
        text-align: center;
    }

    .colorNaranja{
        margin-top: 3%;
        font-size:x-small;
    }

    .colorCeleste{
        margin-top: 3%;
        font-size:x-small;
    }

    .colorGris{
        margin-top: 3%;
        font-size:x-small;
    }

    .colorRojo{
        margin-top: 3%;
        font-size:x-small;
    }

    .tituloNombre{
        font-size: large;
        margin-top: 6%;
    }

    .cuerpoTarjeta p{
        font-size: small;
    }

    .footer a{
        font-size: small;
        width: 80px;
        height: 64px;
        margin: 0 2%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    /*Pagina "Comprar ticket"*/

    .tarjetaTickets h3{
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .tarjetaTickets p{
        font-size: 14px;
        margin-bottom: 14px;
    }

    .tarjetaTickets .terminos{
        font-size: 11px;
        margin-bottom: 14px;
    }

    .titulos h3{
        font-size: 12px;
    }

    .titulos h2{
        font-size: 28px;
    }

    input::placeholder{
        font-size: 14px;
    }

    .formularioTicket p{
        font-size: 14px;
    }

    .formTkCategoria #categoria{
        height: 32px;
        margin-bottom: 14px;
        font-size: 14px;
        padding-left: 8px;
    }

    .totalAPagar{
        margin: 10px auto 20px !important;
    }

    .formTkBotones input{
        font-size: 14px;
        margin-bottom: 12px;
    }
}
